<nav class="navbar bg-body-tertiary fixed-top">
  <div class="container-fluid">
    <%= image_tag 'vitaaurabalance-logo.jpg' %>
    <div class="d-flex align-items-center ms-auto me-3">
      <%= link_to "Wunschliste", home_wunschliste_path, class: "nav-link active me-2" %>
      <%= link_to"Über uns", home_uberuns_path, class: "nav-link active me-2" %>
      <%= link_to "Kontakt", home_kontakt_path, class: "nav-link active" %>
      <%= link_to "Sonderwünsche", home_sonderwunsche_path, class: "nav-link active me-2" %>
      <div class="d-flex align-items-center ms-auto">
        <ul class="navbar-nav d-flex flex-row align-items-center mb-2 mb-lg-0">
        <li class="nav-item me-3">
          <%= link_to '<i class="fas fa-search"></i>'.html_safe, '#', class: 'nav-link' %>
        </li>
        <li class="nav-item me-3">
          <%= link_to '<i class="fas fa-shopping-cart"></i>'.html_safe, '#', class: 'nav-link' %>
        </li>
        <li class="nav-item me-3">
          <%= link_to '<i class="fas fa-user"></i>'.html_safe, '#', class: 'nav-link' %>
        </li>
      </ul>
      <button class="navbar-toggler" type="button" data-bs-toggle="offcanvas" data-bs-target="#offcanvasNavbar" aria-controls="offcanvasNavbar" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
    </div>
  </div>
  <div class="offcanvas offcanvas-end" tabindex="-1" id="offcanvasNavbar" aria-labelledby="offcanvasNavbarLabel">
    <div class="offcanvas-header">
      <h5 class="offcanvas-title" id="offcanvasNavbarLabel">Home</h5>
      <button type="button" class="btn-close" data-bs-dismiss="offcanvas" aria-label="Close"></button>
    </div>
    <div class="offcanvas-body">
      <ul class="navbar-nav justify-content-end flex-grow-1 pe-3">
        <li class="nav-item">
          <a class="nav-link active" aria-current="page" href="#">Haarschumck</a>
        </li>
        <li class="nav-item dropdown">
          <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">
            Patenspangen und Mini - Patentspangen
          </a>
          <ul class="dropdown-menu">
            <li><a class="dropdown-item" href="#">Haarspange</a></li>
            <li><a class="dropdown-item" href="#">Patentspange aus Kunstharz & Textil</a></li>
          </ul>
        </li>
        <li class="nav-item dropdown"> 
          <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false"> Haarreifen und Haarbänder </a> 
          <ul class="dropdown-menu"> 
            <li><a class="dropdown-item" href="#">Haarreifen & Diamen aus Metall</a></li>
            <li><a class="dropdown-item" href="#">Haarreifen aus Kunstoffharz & Textil</a></li> 
            <li><a class="dropdown-item" href="#">Haargreifer / Wellenreifen und Strähnchenhalter</a></li> 
          </ul>
        </li>
        <li class="nav-item"> 
         <%= link_to 'Zopfgummis und Zopfrüschen', home_zopfgummi_zopfruschen_path, class: 'nav-link' %>
        </li> 
        <li class="nav-item"> 
          <a class="nav-link" href="#">Haarclips und Magneclips</a> 
            <%= link_to 'Zopfgummis und Zopfrüschen', home_zopfgummi_zopfruschen_path, class: 'nav-link' %>
        </li> 
        <li class="nav-item"> 
           <%= link_to 'Klappspangen und Zopfhalter', home_klappspangen_zopfhalter_path, class: 'nav-link' %>
        </li>
        <li class="nav-item">
          <%= link_to 'Accessories', home_accessories_path, class: 'nav-link' %> 
        </li> 
        <li class="nav-item"> 
          <li class="nav-item"> 
            <%= link_to 'Colliers, Ketten, Anhänge', home_colliers_ketten_anhanger_path, class: 'nav-link' %>  
          </li>
        </li>
        <li class="nav-item"> 
           <%= link_to 'Ringe', home_ringe_path, class: 'nav-link' %>   
        </li> 
        <li class="nav-item"> 
          <%= link_to 'Ohrclips, Ohrhaken, Ohrringe, Ohrstecker', home_ohrclips_ohrhaken_ohrringe_ohrstecker_path, class: 'nav-link' %> 
        </li> 
        <li class="nav-item">
           <%= link_to 'Armbänder, Armring', home_armbander_armring_path, class: 'nav-link' %>   
        </li> 
        <li class="nav-item">
         <%= link_to 'Broschen', home_broschen_path, class: 'nav-link' %>    
        </li> 
        <li class="nav-item"> 
           <%= link_to 'Mode, Brilllen', home_mode_brillen_path, class: 'nav-link' %> 
        </li> 
        <li class="nav-item"> 
            <%= link_to 'Tasche, Clutch', home_tasche_clutch_path, class: 'nav-link' %>
        </li> 
      </ul>
    </div> 
  </div> 
</nav>