<nav  class="navbar navbar-expand-lg navbar-light bg-light fixed-bottom">
	<div class="container">
		<a class="navbar-brand" href="#"></a>
		<button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#footerNavbar" aria-controls="footerNavbar" aria-expanded="false" aria-label="Toggle navigation">
			<span class="navbar-toggler-icon"></span>
		</button>
		<div class="collapse navbar-collapse" id="footerNavbar">
			<ul class="navbar-nav ms-auto">
				<li class="nav-item">
					<%= link_to 'Home', home_root_path. class:'nav-link' %>
				</li>
				<li class="nav-item">
					<%= link_to 'AGB', home_agb_path, class: "nav-link" %>
				</li>
				<li class="nav-item">
					<%= link_to 'Widerrufsrecht', home_widerrufsrecht_path, class: "nav-link" %>
				</li>
				<li class="nav-item">
					<%= link_to 'Datenschutz', home_datenschutz, class: "nav-link" %>
				</li>
				<li class="nav-item">
					<%= link_to 'Versandkosten & Zahlungsarten', home_versandkosten_path, class: "nav-link" %>
				</li>
				<li class="nav-item">
					<%= link_to 'Impressum', home_impressum_path, class: "nav-link" %>
				</li>
			</ul>
		</div>
	</div>
</nav>




























